
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="cache-control" content="no-transform">
    <meta charset="utf-8" />
    <meta name="description" content="ACCU does Countdown" />
    <meta name="keywords" content="ACCU does Countdown" />
    <meta name="author" content="Jon Jagger" />
    <title>ACCU BRISTOL DOES COUNTDOWN</title>

    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>

    <script type="text/javascript">
      var cd = countdown;
    </script>

  </head>

  <body>
    <div id="countdown-page">
      <%= yield %>
    </div>
  </body>
</html>
